html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font: 14px "Play",sans-serif;
    background: #000;
}
.row {
    display: block !important;
    margin-bottom: 5px;
}
.input-wrapper {
    display: inline-block;
}
.input-wrapper.block > input {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.button-wrapper {
    display: inline-block;
    padding: 0;
}
.button-wrapper > button {
    font-family: inherit;
    line-height: 2em;
    border: 1px solid #36677f;
    background: #42a0dc;
    color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 3px 6px;
}
.button-wrapper > button:active {
    -webkit-box-shadow: 0 0 5px;
    -moz-box-shadow: 0 0 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.5);
}
.button-wrapper > button:disabled {
    border: 1px solid #333;
    background: #555;
}
.button-wrapper.block > button {
    width: 100%;
    text-overflow: ellipsis;
}
.controls-box {
    position: fixed;
    padding: 10px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #eee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.controls-box.top {
    top: 0;
}
.controls-box.left {
    left: 0;
}
.controls-box.right {
    right: 0;
}
.img-editor-box {
    position: relative;
    height: 100%;
    width: 100%;
}
.img-editor-box > img,
.img-editor-box > canvas {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.bounding-box {
    position: absolute;
    top: 160px;
    left: 214px;
    width: 240px;
    height: 280px;
    border: 1px dashed yellow;
    background: rgba(255, 255, 255, 0);
}
[bb-point] {
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #ae4;
    border: 2px solid #115500;
    margin: -7px 0 0 -7px;
}
[bb-point]:active {
    background: #00eeff;
}
[bb-point][data-offset="0,-1"],
[bb-point][data-offset="-1,-1"],
[bb-point][data-offset="1,-1"] {
    top: 0
}
[bb-point][data-offset="0,0"],
[bb-point][data-offset="-1,0"],
[bb-point][data-offset="1,0"] {
    top: 50%
}
[bb-point][data-offset="0,1"],
[bb-point][data-offset="-1,1"],
[bb-point][data-offset="1,1"] {
    top: 100%
}
[bb-point][data-offset="-1,0"],
[bb-point][data-offset="-1,-1"],
[bb-point][data-offset="-1,1"] {
    left: 0;
}
[bb-point][data-offset="0,0"],
[bb-point][data-offset="0,-1"],
[bb-point][data-offset="0,1"] {
    left: 50%;
}
[bb-point][data-offset="1,0"],
[bb-point][data-offset="1,-1"],
[bb-point][data-offset="1,1"] {
    left: 100%;
}
