<!DOCTYPE html>
<html ng-app="imgCropApp">
<head>
	<meta http-equiv="Content-Type" content="text/html">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Image Crop on Angular.js</title>

	<link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
	<link href='css/style.css' rel='stylesheet' type='text/css'>

	<script src="lib/angular.js"></script>
	<script src="js/crop.js"></script>
</head>
<body>
<div class="img-editor-box" ng-controller="ImgEditorCtrl">
	<img ng-src="{{ getImgSrc() }} " alt="Random Pic" width="{{ imgData.width }}" height="{{ imgData.height }}"/>
	<!--TODO: ng directive-->
	<!--<autocrop></autocrop>-->
	<div class="bounding-box">
		<div data-offset="-1,-1" class="bb-point"></div>
		<div data-offset="0,-1" class="bb-point"></div>
		<div data-offset="1,-1" class="bb-point"></div>
		<div data-offset="-1,0" class="bb-point"></div>
		<div data-offset="0,0" class="bb-point"></div>
		<div data-offset="1,0" class="bb-point"></div>
		<div data-offset="-1,1" class="bb-point"></div>
		<div data-offset="0,1" class="bb-point"></div>
		<div data-offset="1,1" class="bb-point"></div>
	</div>
</div>
<div class="controls-box top left" ng-controller="ImgLoaderCtrl">
	<div class="row">
		<div class="row">
			<label for="img_src">Image URL</label>
		</div>
		<div class="input-wrapper block row">
			<input type="text" id="img_src" value="http://lorempixel.com/nature"/>
		</div>
		<div class="button-wrapper row block">
			<button id="load">Load</button>
		</div>
	</div>
</div>
<div class="controls-box top right" ng-controller="BoundBoxCtrl">
	<div class="row">
		<label for="coord_x0">X0</label>
		<div class="input-wrapper">
			<input type="number" id="coord_x0" ng-model="bbox.x0" step="1" min="0">
		</div>
	</div>
	<div class="row">
		<label for="coord_y0">Y0</label>
		<div class="input-wrapper">
			<input type="number" id="coord_y0" ng-model="bbox.y0" step="1" min="0">
		</div>
	</div>
	<div class="row">
		<label for="coord_x1">X1</label>
		<div class="input-wrapper">
			<input type="number" id="coord_x1" ng-model="bbox.x1" step="1" min="0">
		</div>
	</div>
	<div class="row">
		<label for="coord_y1">Y1</label>
		<div class="input-wrapper">
			<input type="number" id="coord_y1" ng-model="bbox.y1" step="1"  min="0">
		</div>
	</div>
</div>
</body>
</html>