<div class="crop-wrapper">
	<div data-offset="-1,-1" class="control-point"></div>
	<div data-offset="0,-1" class="control-point"></div>
	<div data-offset="1,-1" class="control-point"></div>
	<div data-offset="-1,0" class="control-point"></div>
	<div data-offset="0,0" class="control-point"></div>
	<div data-offset="1,0" class="control-point"></div>
	<div data-offset="-1,1" class="control-point"></div>
	<div data-offset="0,1" class="control-point"></div>
	<div data-offset="1,1" class="control-point"></div>
</div>
